*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui;
}

body{
    background:#0b0b0f;
    color:white;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:rgba(0,0,0,0.7);
    backdrop-filter:blur(12px);
    position:sticky;
    top:0;
    z-index:10;
}

.logo{
    color:#ff2e63;
    font-size:28px;
    font-weight:bold;
}

.searchBox input{
    padding:10px;
    border:none;
    border-radius:6px;
    width:250px;
}

.searchBox button{
    padding:10px 15px;
    border:none;
    background:#ff2e63;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

/* HERO */

.hero{
    height:50vh;
    background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero h2{
    font-size:42px;
    max-width:600px;
}

/* MOVIE GRID */

.movie-grid{
    padding:40px;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:25px;
}

/* CARD */

.card{
    background:#141414;
    border-radius:12px;
    overflow:hidden;
    transition:0.35s ease;
    cursor:pointer;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.card-content{
    padding:12px;
}

.card h3{
    font-size:18px;
}

.card p{
    color:#aaa;
}